@import "../global";

.numbers__section {
    width: 100%;
    background: $Primary3;
    display: flex;
    align-items: center;
    justify-content: center;

    .numbers__item {
        flex: 1;
        text-align: center;
        border-right: 2px solid $Primary1;
        h2 {
            font-size: 4rem;
            color: $Primary1;
            margin-bottom: 0.5rem;
        }
    }

    .numbers__item:last-child {
        border-right: none;
    }
}